# build
*.tar.gz
dependency-reduced-pom.xml
scratch
target

# ui build
uis/layover/bower_components/
uis/layover/node/
uis/layover/node_modules/

# eclipse
.classpath
.project
.settings

# idea
.idea
*.iml
*.iws
*.ipr

embedders/savant/org.commonjava.indy.folo.model.TrackedContentEntry/segments*
embedders/savant/org.commonjava.indy.folo.model.TrackingKey/*
embedders/savant/indexedStorePath/*

