# build
*.tar.gz
dependency-reduced-pom.xml
scratch
target

# ui build
uis/layover/bower_components/
uis/layover/node/
uis/layover/node_modules/

# eclipse
.classpath
.project
.settings

# idea
.idea
*.iml
*.iws
*.ipr

# temp ISPN indexing generates
*/savant/*Track*
*/savant/org.commonjava.indy.folo.model.TrackedContentEntry/segments*
*/savant/org.commonjava.indy.folo.model.TrackingKey/*
*/savant/indexedStorePath/*
embedder-tests/savant/org.commonjava.indy.folo.model.TrackedContentEntry/segments*
embedder-tests/savant/org.commonjava.indy.folo.model.TrackingKey/*
embedder-tests/savant/indexedStorePath/*
**/indexedStorePath/*

# virtualenv directories (personal convention)
.venv
