/* START: sticky footer */
*{
  margin: 0;
}
html, body{
  height: 100%;
}

.content-wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.footer-push{
  height: 2.75em;
}

footer{
  height: 2.75em;
}
/* END: sticky footer */

/* brought in from monorail UI */
body{
  font-family: sans-serif;
}

.product-name, .navbar-content, .items-label, .button{
  font-variant: small-caps;
}

.product-name{
  margin-right: 10px;
  font-size: 32pt;
  font-family: serif;
  display: inline;
}

.menu {
  list-style: none;
  border-bottom: 1px solid #333;
  /*margin-bottom: 2em;*/
  padding-top: 30px;
  padding-bottom: 5px;
}

.menu > li {
  display: inline;
  border: 1px solid #333;
  border-top: none;
  border-bottom: none;
  padding: 5px;
  margin: 0px;
  margin-left: -6px;
}

.menu a.button{
  text-decoration: none;
  font-size: 1.1em;
}

.vdiv{
  border-left: 1px solid black;
  min-width: 2px;
  content: " ";
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

.nav-button:hover{
  color: white;
  background-color: #333;
  font-size: 1.1em;
}

.button:hover,
.cp-button:hover,
.nav-button:hover{
  font-weight: bold;
}

.del-button:hover{
  color: red !important;
}

a.button{
  padding: 4px;
  margin-left: 0px;
  margin-right: 0px;
  background: white;
}

a {
  color: #333;
}

header{
  margin-top: 5px;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.left{
  float: left;
}

.right{
  float: right;
}

.store-listing{
  min-width: 80%;
  margin-right: 50px;
  border-collapse: separate;
}

.listing-item-end td{
  padding-bottom: 10px;
}

table{
  border: 1px solid #ddd;
}

tr:nth-child(odd){
  background: #ffe;
}
tr:nth-child(even){
  background: #eee;
}

th{
  border: 1px solid #ddd;
  border-top: none;
  padding: 5px;
  padding-bottom: 2px;
}

td{
  padding: 5px 5px 2px 5px;
}

.control-panel{
  border-left: 1px solid #333;
  float: right;
  min-width: 250px;
  margin: 20px;
  margin-top: 0px;
  padding-left: 10px;
}

.cp-row{
  margin-bottom: 10px;
}

.inline{
  display: inline;
}

.inline-cp{
  visibility: hidden;
  display: inline;
  font-weight: bold;
  margin-left: 5px;
  border-left: 1px solid #333;
  padding-left: 5px;
}

.inline-cp-action{
  padding-left: 5px;
  text-decoration: none;
}

.surround-cp-action{
  text-decoration: none;
}

.surround-cp-action:hover{
  text-decoration: underline;
}

.key{
  font-weight: bold;
  font-size: 1.1em;
  font-family: sans-serif;
}

.constituent:hover,
.available:hover{
  padding: 2px;
  border: 1px solid #333;
}

.constituent:hover > .inline-cp,
.available:hover > .inline-cp,
.with-inline-cp:hover > .inline-cp{
  visibility: visible;
}

div.sidebyside{
  display: inline;
  margin-right: 20px;
}

.content-panel{
  display: block;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 250px;
  min-width: 80%;
}

footer{
  border-top: 1px solid #ddd;
  padding: 5px;
  margin-top: 20px;
}

.options-field{
}

.options{
  list-style: none;
  display: inline;
  padding: 0px;
  margin: -1px;
  cursor: help;
}

span.option{
  font-style: italic;
  cursor: help;
}

li.option{
  display: inline;
  padding: 0px;
  margin: 0px;
}

.cp-debug{
  display: block;
  font-style: italic;
}

.debug{
  margin: 50px;
  background: #eee;
  overflow: scroll;
}

pre{
}

.detail-table{
  margin-top: 20px;
}

td.detail-value{
  text-align: left;
}

ol.detail-edit-list,
li.detail-edit-list{
  list-style: none;
  padding: 1em;
  border: 1px solid #ddd;
  min-width: 40%;
}

label, caption, .label{
  font-weight: bold;
  text-align: left;
}

.trailing-label{
  margin-left: 20px;
}

.label{
  padding-right: 5px;
}

.hint, .description{
  font-style: italic;
  font-size: 80%;
  color: #333;
  margin-left: 1.2em;
  margin-right: 1.2em;
  text-decoration: none !important;
  text-align: left;
}

.cert{
  font-family: monospace;
  height: 31em;
  width: 40em;
}

.fieldset{
  margin-top: 20px;
}

.textarea-label{
  margin-top: 10px;
}

.list-label{
  text-decoration: underline;
}

.left-col,
.right-col{
  vertical-align: top;
  min-width: 30%;
  display: inline-block;
}

.left-col{
  margin-right: 50px;
}

.textarea-label{
  display: block;
}

.text-description{
  height: 2em;
  width: 89em;
}

.listing-text{
  height: 47em;
  width: 90em;
  white-space: nowrap;
  overflow: auto;
}

.listing-panel{
	display: inline-block;
}

.listing-content{
	margin-left: 1%;
}

.hidden{
  display: none;
}
