  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" ng-controller="FooterCtl">
    <div class="container" ng-controller="FooterCtl">
      <span class="stat-label"><a target="_new" class="fa fa-btn" href="http://commonjava.github.io/aprox/">AProx @GitHub</a></span>
      | <span class="stat-label"><a target="_new" class="fa fa-btn" href="http://github.com/commonjava/aprox/issues">Issues</a></span>
      | <span class="stat-label">Version:</span> <span class="stat-value">{{stats.version}}</span>
      | <span class="stat-label">Commit ID:</span> <span class="stat-value"><a target="_new" class="fa fa-btn" href="http://github.com/commonjava/aprox/commit/{{stats['commit-id']}}">{{stats["commit-id"]}}</a></span>
      | <span class="stat-label">Built</span> <span class="stat-value">on {{stats["timestamp"]}} by <a target="_new" class="fa fa-btn" href="http://github.com/{{stats['builder']}}">{{stats["builder"]}}</a></span>
    </div>
  </nav>
