<div class="container-fluid" ng-controller="GroupCtl">
    <div class="control-panel" ng-include="'partials/includes/store-control-panel.html'">
    </div>
    
    <div class="content-panel" ng-include="'partials/includes/group-view.html'">
    </div>
    
	<div ng-if="enableDebug" class="debug">
	    <div class="debug-section">
	        <span class="debug-title">JSON FROM SERVER:</span>
	        <pre>{{store | json}}</pre>
	    </div>
	    <div class="debug-section">
	        <span class="debug-title">JSON FOR DISPLAY:</span>
	        <pre>{{raw | json}}</pre>
	    </div>
	</div>
</div>
