<div class="container-fluid">
    <div class="control-panel">
        <div class="cp-row">
          <button name="save" ng-click="save()" class="cp-button">Save</button>
          <button name="cancel" ng-click="cancel()" class="cp-button">Cancel</button>
          <button name="del" ng-click="delete()" class="del-button cp-button">Delete</button>
        </div>
        <div class="cp-row cp-debug">
          <input type="checkbox" ng-model="enableDebug" ng-init="checked=false" /> Debug Data
        </div>
    </div>
    <div class="content-panel">
      <table class="detail-table">
        <tr class="detail-field">
          <td class="label">Name:</td>
          <td class="detail-value">
            <input type="text" ng-model="raw.name" ng-if="!editMode" />
              <span ng-if="editMode" class="key">{{raw.name}}</span>
          </td>
        </tr>
        <tr class="detail-field">
          <td class="label">Local Path:</td>
          <td class="detail-value"><input type="text" ng-model="store.storage" size="50"/><span class="hint">(calculated by default)</span></td>
        </tr>
      </table>

      <div class="fieldset">
        <div class="text-field">
          <div class="textarea-label">
            <label>Description</label>
          </div>
          <textarea class="text-description" ng-model="store.description"></textarea>
        </div>
      </div>

      <table class="detail-table">
        <tr class="detail-field">
          <td class="detail-value">{{allowUploads(store) | checkmark}}</td>
          <td class="label">Uploads Allowed?</td>
        </tr>
        <tr class="detail-field">
          <td class="detail-value"><input type="checkbox" ng-model="store.allow_releases"/></td>
          <td class="label">Releases Allowed?</td>
        </tr>
        <tr class="detail-field">
          <td class="detail-value"><input type="checkbox" ng-model="store.allow_snapshots"/></td>
          <td class="label">Snapshots Allowed?</td>
        </tr>
      </table>
      <table ng-if="store.allow_snapshots" class="detail-table">
        <tr class="detail-field">
          <td class="label">Snapshot Timeout:</td>
          <td class="detail-value"><input type="text" ng-model="raw.snapshotTimeoutSeconds"/><ap-duration-hint></ap-duration-hint></td>
        </tr>
      </table>
    </div>
    <div ng-if="enableDebug" class="debug">
        <div class="debug-section">
            <span class="debug-title">JSON BOUND FOR SERVER:</span>
          <pre>{{store | json}}</pre>
        </div>
        <div class="debug-section">
            <span class="debug-title">JSON FOR DISPLAY:</span>
          <pre>{{raw | json}}</pre>
        </div>
    </div>
</div>
