<div class="container-fluid">
    <div class="control-panel">
        <div class="cp-row">
          <button name="new-hosted" class="new-button cp-button">New...</button>
        </div>
        <div class="cp-row">
          Search: <input ng-model="query">
        </div>
        <!--
        <div class="sidebyside">
          Sort by:
          <select ng-model="orderProp">
            <option value="key">Name</option>
          </select>
        </div>
        -->
      <div class="cp-row cp-debug">
        <input type="checkbox" ng-model="enableDebug" ng-init="checked=false" /> Debug Data
      </div>
    </div>
    <div class="content-panel">
      <table class="store-listing">
        <tr>
            <th>Name</th>
            <th>Local URL</th>
            <th>Options</th>
        </tr>
        <tr ng-repeat="store in listing.items | filter:query | orderBy:orderProp" class="store-listing-item">
            <!-- {{storeUtils.nameFromKey(store.key)}} -->
            <!-- -->
            <td class="key">
                <a href="#/hosted/view/{{storeUtils.nameFromKey(store.key)}}">{{storeUtils.nameFromKey(store.key)}}</a>
            </td>
            <td class="field">
              <a href="{{storeUtils.storeHref(store.key)}}" target="_new">{{storeUtils.storeHref(store.key)}}</a>
            </td>
            <td class="options-field">
              <ul class="options" ng-repeat="option in storeUtils.hostedOptions(store)">
                <li class="option"><span title="{{option.title}}">{{option.icon}}</span></li>
              </ul>
            </td>
            <!-- -->
        </tr>
      </table>
    </div>

    <div ng-if="enableDebug" class="debug">
        JSON:
        <pre>{{listing | json}}</pre>
    </div>
</div>
