<div class="container-fluid" ng-controller="HostedListCtl">
    <div class="control-panel">
        <div class="cp-row">
            <a class="new-button cp-button" href="#/hosted/new">New...</a>
        </div>
        <div class="cp-row">
          Search: <input ng-model="query">
        </div>
        <!--
        <div class="sidebyside">
          Sort by:
          <select ng-model="orderProp">
            <option value="key">Name</option>
          </select>
        </div>
        -->
      <div class="cp-row cp-debug">
        <input type="checkbox" ng-model="enableDebug" ng-init="checked=false" /> Debug Data
      </div>
    </div>
    <div class="content-panel">
      <div class="store-listing">
        <div ng-repeat="store in listing.items | filter:query | orderBy:orderProp" class="list-item store-listing-item listing-item-start">
          <div class="fieldset-caption"><a href="#/hosted/view/{{storeUtils.nameFromKey(store.key)}}">{{store.name}}</a></div>
          <div class="fieldset">
            <div class="two-col">
	            <div class="field left-half">
	              <label>Local URL:</label>
	              <span><a href="{{store.storeHref}}" target="_new">{{store.storeHref}}</a></span>
	            </div>
	            <div class="options-field field right-half">
	              <label>Capabilities:</label>
	              <div class="options" ng-repeat="option in store.hostedOptions">
	                <span class="key" title="{{option.title}}">{{option.icon}}</span>
	              </div>
	            </div>
            </div>
            <div class="field"><ap-listing-description></ap-listing-description></div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="enableDebug" class="debug">
        JSON:
        <pre>{{listing | json}}</pre>
    </div>
</div>
