<div class="container-fluid">
    <div class="control-panel">
        <div class="cp-row">
            <a class="new-button cp-button" href="#/hosted/new">New...</a>
        </div>
        <div class="cp-row">
          Search: <input ng-model="query">
        </div>
        <!--
        <div class="sidebyside">
          Sort by:
          <select ng-model="orderProp">
            <option value="key">Name</option>
          </select>
        </div>
        -->
      <div class="cp-row cp-debug">
        <input type="checkbox" ng-model="enableDebug" ng-init="checked=false" /> Debug Data
      </div>
    </div>
    <div class="content-panel">
      <table class="store-listing">
        <tr>
            <th>Name</th>
            <th>Local URL</th>
            <th>Options</th>
        </tr>
        <tr ng-repeat-start="store in listing.items | filter:query | orderBy:orderProp" class="store-listing-item listing-item-start">
            <td class="key">
                <a href="{{store.detailHref}}">{{store.name}}</a>
            </td>
            <td class="field">
              <a href="{{store.storeHref}}" target="_new">{{store.storeHref}}</a>
            </td>
            <td class="options-field">
              <ul class="options" ng-repeat="option in store.hostedOptions">
                <li class="option"><span title="{{option.title}}">{{option.icon}}</span></li>
              </ul>
            </td>
        </tr>
        <tr ng-repeat-end class="store-listing-item listing-item-end">
          <td colspan="3"><ap-listing-description></ap-listing-description></td>
        </tr>
      </table>
    </div>

    <div ng-if="enableDebug" class="debug">
        JSON:
        <pre>{{listing | json}}</pre>
    </div>
</div>
