<div class="container-fluid">
    <div class="control-panel">
      <a href="#/hosted">Back</a>
        <div class="cp-row">
          <button name="new-hosted" class="new-button cp-button">New...</button>
          <a href="{{storeUtils.editHref(store.key)}}">Edit</a>
          <button name="del-hosted" class="del-button cp-button">Delete</button>
        </div>
      <div class="cp-row cp-debug">
        <input type="checkbox" ng-model="enableDebug" ng-init="checked=false" /> Debug Data
      </div>
    </div>
    <div class="content-panel">
      <table class="detail-table">
        <tr class="detail-field">
          <td class="label">Name:</td>
          <td class="detail-value">
            <input type="text" ng-model="raw.name" ng-if="!editMode" />
              <span ng-if="editMode">{{storeName}}</span>
          </td>
        </tr>
        <tr class="detail-field">
          <td class="label">Local Path:</td>
          <td class="detail-value"><input type="text" ng-model="store.storage" size="50"/><span class="hint">(calculated by default)</span></td>
        </tr>
      </table>
      <table class="detail-table">
        <tr class="detail-field">
          <td class="detail-value">{{allowUploads(store) | checkmark}}</td>
          <td class="label">Uploads Allowed?</td>
        </tr>
        <tr class="detail-field">
          <td class="detail-value"><input type="checkbox" ng-model="store.allow_releases"/></td>
          <td class="label">Releases Allowed?</td>
        </tr>
        <tr class="detail-field">
          <td class="detail-value"><input type="checkbox" ng-model="store.allow_snapshots"/></td>
          <td class="label">Snapshots Allowed?</td>
        </tr>
        <tr ng-if="store.allow_snapshots" class="detail-field">
          <td class="label">Snapshot Timeout:</td>
          <td class="detail-value"><input type="text" ng-model="raw.snapshotTimeoutSeconds"/><ap-duration-hint></ap-duration-hint></td>
        </tr>
      </table>
    </div>
    <div ng-if="enableDebug" class="debug">
      JSON:
      <pre>{{store | json}}</pre>
    </div>
</div>
