<div class="container-fluid" ng-controller="RemoteCtl">
    <div class="control-panel">
        <div class="cp-row">
          <button name="save" ng-click="save()" class="cp-button">Save</button>
          <button name="cancel" ng-click="cancel()" class="cp-button">Cancel</button>
          <button name="del" ng-click="delete()" class="del-button cp-button">Delete</button>
        </div>
        <div class="cp-row cp-debug">
          <input type="checkbox" ng-model="enableDebug" ng-init="checked=false" /> Debug Data
        </div>
    </div>
    <div class="content-panel">
      <table class="detail-table">
        <tr class="detail-field">
          <td class="label">Name:</td>
          <td class="detail-value">
            <input type="text" ng-model="raw.name" ng-if="!editMode" />
            <span ng-if="editMode" class="key">{{raw.name}}</span>
          </td>
        </tr>
        <tr class="detail-field">
          <td class="label">Remote URL:</td>
          <td class="detail-value"><input type="text" ng-model="store.url" size="80"/></td>
        </tr>
      </table>


      <div class="fieldset">
        <div class="text-field">
          <div class="textarea-label">
            <label>Description</label>
          </div>
          <textarea class="text-description" ng-model="store.description"></textarea>
        </div>
      </div>

      <table class="detail-table">
        <caption>Cache Management</caption>
        <tr class="detail-field">
          <td colspan="2" class="detail-value">
            <input type="checkbox" ng-model="store.is_passthrough" />
            <span class="label trailing-label">Passthrough Only?</span>
            <ap-hint key="passthrough"></ap-hint>
          </td>
        </tr>
        <tr ng-if="!store.is_passthrough" class="detail-field">
          <td class="label">Content Cache Timeout:</td>
          <td class="detail-value">
            <input type="text" ng-model="raw.cache_timeout_seconds"/>
            <ap-duration-hint></ap-duration-hint>
          </td>
        </tr>
      </table>

      <table class="detail-table">
        <caption>Remote Access</caption>
        <tr class="detail-field">
          <td class="label">Request Timeout:</td>
          <td class="detail-value">
            <input type="text" ng-model="raw.timeout_seconds"/>
            <ap-hint key="request_timeout"></ap-hint>
          </td>
        </tr>

        <!-- HTTP Proxy -->
        <tr class="detail-field">
          <td colspan="2" class="detail-value">
            <input type="checkbox" ng-model="raw.use_proxy" />
            <span class="label trailing-label">Use Proxy?</span>
          </td>
        </tr>
        <tr class="detail-field" ng-if="raw.use_proxy">
          <td class="label">Proxy Host:</td>
          <td class="detail-value"><input type="text" ng-model="store.proxy_host" size="20"/></td>
        </tr>
        <tr class="detail-field" ng-if="raw.use_proxy">
          <td class="label">Proxy Port:</td>
          <td class="detail-value"><input type="text" ng-model="store.proxy_port" size="6"/></td>
        </tr>

        <!-- X.509 / auth -->
        <tr class="detail-field">
          <td colspan="2" class="detail-value">
            <input type="checkbox" ng-model="raw.use_auth" />
            <span class="label trailing-label">Use Authentication?</span>
          </td>
        </tr>
        <tr class="detail-field" ng-if="raw.use_auth">
          <td class="label">Username:</td>
          <td class="detail-value"><input type="text" ng-model="store.user" size="20"/></td>
        </tr>
        <tr class="detail-field" ng-if="raw.use_auth">
          <td class="label">Password:</td>
          <td class="detail-value"><input type="password" ng-model="store.password" size="20"/></td>
        </tr>
        <tr class="detail-field" ng-if="raw.use_proxy && raw.use_auth">
          <td class="label">Proxy Username:</td>
          <td class="detail-value"><input type="text" ng-model="store.proxy_user" size="20"/></td>
        </tr>
        <tr class="detail-field" ng-if="raw.use_proxy && raw.use_auth">
          <td class="label">Proxy Password:</td>
          <td class="detail-value"><input type="password" ng-model="store.proxy_password" size="20"/></td>
        </tr>
        <tr class="detail-field">
          <td colspan="2" class="detail-value">
            <input type="checkbox" ng-model="raw.use_x509" />
            <span class="label trailing-label">Use Custom X.509 Configuration?</span>
          </td>
        </tr>
        <tr class="detail-field" ng-if="raw.use_auth && raw.use_x509">
          <td class="label">Client Key Password:</td>
          <td class="detail-value"><input type="password" ng-model="store.key_password"/><ap-hint key="client_key"></ap-hint></td>
        </tr>
      </table>

      <div ng-if="raw.use_x509" class="fieldset two-col">
        <div class="left-col" ng-if="raw.use_auth">
          <div class="textarea-label">
            <label>Client Key</label><span class="hint">(PEM Format)</span>
         </div>
          <!-- 64 columns is the original PEM line-length spec -->
          <textarea class="cert" cols="68" ng-model="store.key_certificate_pem"></textarea>
        </div>

        <div class="right-col">
          <div class="textarea-label">
            <label>Server Certificate</label><span class="hint">(PEM Format)</span>
          </div>
          <!-- 64 columns is the original PEM line-length spec -->
          <textarea class="cert" cols="68" ng-model="store.server_certificate_pem"></textarea>
        </div>
      </div>

    </div>
    <div ng-if="enableDebug" class="debug">
        <div class="debug-section">
            <span class="debug-title">JSON BOUND FOR SERVER:</span>
          <pre>{{store | json}}</pre>
        </div>
        <div class="debug-section">
            <span class="debug-title">JSON FOR DISPLAY:</span>
          <pre>{{raw | json}}</pre>
        </div>
    </div>
</div>
