<div class="container-fluid">
    <div class="control-panel">
      <a href="#/remote">Back</a>
        <div class="cp-row">
            <button name="save-remote" class="cp-button">Save</button>
            <button name="cancel-remote" class="cp-button">Cancel</button>
        </div>
        <div class="cp-row" ng-if="editMode">
          <button name="del-remote" class="del-button cp-button">Delete</button>
        </div>
        <div class="cp-row cp-debug">
          <input type="checkbox" ng-model="enableDebug" ng-init="checked=false" /> Debug Data
        </div>
    </div>
    <div class="content-panel">
      <table class="detail-table">
        <tr class="detail-field">
          <td class="label">Name:</td>
          <td class="detail-value">
            <input type="text" ng-model="raw.name" ng-if="!editMode" />
              <span ng-if="editMode">{{raw.name}}</span>
          </td>
        </tr>
        <tr class="detail-field">
          <td class="label">Remote URL:</td>
          <td class="detail-value"><input type="text" ng-model="store.url" size="50"/></td>
        </tr>
      </table>
      <table class="detail-table">
        <caption>Cache Management</caption>
        <tr class="detail-field">
          <td class="label">Passthrough Only?</td>
          <td class="detail-value">
            <input type="checkbox" ng-model="store.is_passthrough" />
            <span class="hint">(pass-through implies a 5 minute cache timeout)</span>
          </td>
        </tr>
        <tr ng-if="!store.is_passthrough" class="detail-field">
          <td class="label">Content Cache Timeout:</td>
          <td class="detail-value">
            <input type="text" ng-model="raw.cache_timeout_seconds"/>
            <ap-duration-hint></ap-duration-hint>
          </td>
        </tr>
      </table>

      <table class="detail-table">
        <caption>Remote Access</caption>
        <tr class="detail-field">
          <td class="label">Request Timeout:</td>
          <td class="detail-value">
            <input type="text" ng-model="raw.timeout_seconds"/>
            <ap-duration-hint>10m</ap-duration-hint>
          </td>
        </tr>

        <!-- HTTP Proxy -->
        <tr class="detail-field">
          <td class="detail-value"><input type="checkbox" ng-model="raw.use_proxy" /></td>
          <td class="label">Use Proxy?</td>
        </tr>
        <tr class="detail-field" ng-if="raw.use_proxy">
          <td class="label">Proxy Host:</td>
          <td class="detail-value"><input type="text" ng-model="store.proxy_host" size="20"/></td>
        </tr>
        <tr class="detail-field" ng-if="raw.use_proxy">
          <td class="label">Proxy Port:</td>
          <td class="detail-value"><input type="text" ng-model="store.proxy_port" size="6"/></td>
        </tr>

        <!-- X.509 / auth -->
        <tr class="detail-field">
          <td class="detail-value"><input type="checkbox" ng-model="raw.use_auth" /></td>
          <td class="label">Use Authentication?</td>
        </tr>
        <tr class="detail-field" ng-if="raw.use_auth">
          <td class="label">Username:</td>
          <td class="detail-value"><input type="text" ng-model="store.user" size="20"/></td>
        </tr>
        <tr class="detail-field" ng-if="raw.use_auth">
          <td class="label">Password:</td>
          <td class="detail-value"><input type="password" ng-model="store.password" size="20"/></td>
        </tr>
        <tr class="detail-field" ng-if="raw.use_proxy && raw.use_auth">
          <td class="label">Proxy Username:</td>
          <td class="detail-value"><input type="text" ng-model="store.proxy_ser" size="20"/></td>
        </tr>
        <tr class="detail-field" ng-if="raw.use_proxy && raw.use_auth">
          <td class="label">Proxy Password:</td>
          <td class="detail-value"><input type="password" ng-model="store.proxy_password" size="20"/></td>
        </tr>
        <tr class="detail-field" ng-if="raw.use_auth">
          <td class="detail-value"><input type="checkbox" ng-model="raw.use_x509" /></td>
          <td class="label">Use X.509 Authentication?</td>
        </tr>
      </table>

      <div ng-if="raw.use_auth && raw.use_x509" class="fieldset two-col">
        <div class="left-col">
          <div class="textarea-label">
            <label>Client Key Password:</label>
            <input type="password" ng-model="store.key_password"/>
          </div>
          <div class="textarea-label">
            <label>Client Key</label><span class="hint">(PEM Format)</span>
         </div>
          <textarea class="cert" ng-model="store.key_certificate_pem"></textarea>
        </div>

        <div class="right-col">
          <div class="textarea-label">
            <label>Server Certificate</label><span class="hint">(PEM Format)</span>
          </div>
          <textarea class="cert" ng-model="store.server_certificate_pem"></textarea>
        </div>
      </div>

    </div>
    <div ng-if="enableDebug" class="debug">
      JSON:
      <pre>{{store | json}}</pre>
    </div>
</div>
