<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{page.tagline}}" />

    <link rel="stylesheet" type="text/css" media="screen" href="{{base}}/stylesheets/stylesheet.css">

    <title>{{site.title}}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="{{site.github.repository_url}}">View on GitHub</a>

          <h1 id="project_title"><a href="http://commonjava.github.io/">{{site.siteTitle}}</a>{{site.projectTitle}}</h1>
          <h2 id="project_tagline">{{site.tagline}}</h2>
        </header>
    </div>
    <div id="navlink_wrap" class="outer">
        {% if site.data.navlinks %}
        <div id="navlinks" class="headerlinks inner">
          {% if page.nav %}
            <span class="headerlink"><a href="..">back</a></span>
          {% endif %}
          {% for link in site.data.navlinks %}
            {% if link.name != page.nav %}
            <span class="headerlink"><a href="{{link.url}}">{{link.name}}</a></span>
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
    </div>
    {% if page.title != "" %}
    <div id="pagetitle_wrap" class="outer">
      <h3 id="pagetitle" class="inner">{{page.title}}</h3>
    </div>
    {% endif %}


