<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{page.tagline}}" />

    <link rel="stylesheet" type="text/css" media="screen" href="{{base}}/stylesheets/stylesheet.css">

    <title>{{site.title}}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <div id="tools" class="header_text">
            <a title="Back to Commonjava Projects Page" id="home_banner" href="http://commonjava.github.io/">Home</a>
            <a id="forkme_banner" href="{{site.github.repository_url}}">View on GitHub</a>
          </div>
          <div id="project_title" class="header_text"><a href="{{base}}">Indy</a></div>
          <div id="project_tagline" class="header_text">An Artifact Management Platform</div>
        </header>
    </div>
    <div id="navlink_wrap" class="outer">
        {% if site.data.navlinks %}
        <div id="navlinks_inner" class="inner">
          <ul id="navlinks">
            {% for link in site.data.navlinks %}
              <li class="navlink"><a href="{{base}}/{{link.url}}">{{link.name}}</a></li>
              <!--
              {% if link.nav != page.nav %}
              <span class="headerlink inactive"><a href="{{base}}/{{link.url}}">{{link.name}}</a></span>
              {% else %}
              <span class="headerlink active">{{link.name}}</span>
              {% endif %}
              -->
            {% endfor %}
          </ul>
        </div>
        {% endif %}
    </div>
    <div id="breadcrumbs_wrap" class="outer">
      {% if page.breadcrumbs %}
      <div id="breadcrumbs_inner" class="inner">
        <ul id="breadcrumbs">
          {% for bc in page.breadcrumbs %}
          <li class="breadcrumb"><a href="{{bc.href}}">{{bc.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>

    <div id="header_boundary"></div>

    {% if page.title != "" %}
    <div id="pagetitle_wrap" class="outer">
      <h3 id="pagetitle" class="inner">{{page.title}}</h3>
    </div>
    {% endif %}

