
<table class="detail-table">
	<tr class="detail-field">
		<td class="label">Name:</td>
		<td class="detail-value"><span class="key">{{raw.name}}</span></td>
	</tr>
	<tr class="detail-field">
		<td class="label">Local URL:</td>
    <td class="detail-value">
      <a ng-if="!raw.demo" ng-href="{{raw.storeHref}}" target="_new">{{raw.storeHref}}</a>
      <span ng-if="raw.demo">{{raw.storeHref}}</span>
    </td>
	</tr>
  <tr class="detail-field" ng-if="store.storage">
    <td class="label">Alternative Storage Directory:</td>
    <td class="detail-value">
      <span>{{store.storage}}</span>
    </td>
  </tr>
</table>

<div class="fieldset">
	<div class="text-field">
		<div class="textarea-label">
			<label>Description</label>
		</div>
		<textarea readonly="true" class="text-description"
			ng-model="raw.description"></textarea>
	</div>
</div>

<table class="detail-table">
	<tr class="detail-field">
    <td class="detail-value">{{(store.allow_releases || store.allow_snapshots) | checkmark}}</td>
		<td class="label">Uploads Allowed?</td>
	</tr>
	<tr ng-if="(store.allow_releases || store.allow_snapshots)" class="detail-field">
    <td class="detail-value">{{store.allow_releases | checkmark}}</td>
		<td class="label">Releases Allowed?</td>
	</tr>
	<tr ng-if="(store.allow_releases || store.allow_snapshots)" class="detail-field">
    <td class="detail-value">{{store.allow_snapshots | checkmark}}</td>
		<td class="label">Snapshots Allowed?</td>
	</tr>
</table>

<table ng-if="store.allow_snapshots" class="detail-table">
	<tr class="detail-field">
		<td class="label">Snapshot Timeout:</td>
		<td class="detail-value">{{store.snapshotTimeoutSeconds |
			duration}}</td>
	</tr>
</table>
