<div class="cp-row-group" ng-if="mode == 'view'">
  <div class="cp-row">
    <a class="cp-button" ng-href="{{raw.editHref}}">Edit</a>
	  <a class="new-button cp-button" ng-href="{{raw.newHref}}">New...</a>
	  <a name="del" ng-click="remove()" class="del-button cp-button">Delete</a>
	</div>
</div>
<div class="cp-row" ng-if="mode == 'edit' || mode == 'new'">
  <button name="save" ng-click="save()" class="cp-button">Save</button>
  <button name="cancel" ng-click="cancel()" class="cp-button">Cancel</button>
  <button name="del" ng-click="remove()" class="del-button cp-button">Delete</button>
</div>
<hr/>
<div class="cp-row cp-debug">
  <input type="checkbox" ng-model="enableDebug" ng-init="checked=false" /> Debug Data
</div>
