<div ng-controller="AutoProxRulesCtl">
  <div class="container-fluid">
    <div class="control-panel">
      <div class="cp-row">
        Available Rules:
        <select ng-model="currentName" ng-change="showRule()" ng-options="rule.name as rule.name for rule in rules">
        </select>
      </div>
      <div class="cp-row cp-debug">
        <input type="checkbox" ng-model="enableDebug" ng-init="checked=false" /> Debug Data
      </div>
    </div>
    <div class="error" ng-if="error">{{error}}</div>
    <div ng-if="!error && currentRule" class="content-panel listing-content">
	    <div class="textarea-label">
	      <label>{{currentRule.name}}:</label>
	    </div>
      <textarea readonly="true" class="listing-text">{{currentRule.spec}}</textarea>
    </div>
  </div>
  
    <div ng-if="enableDebug" class="debug">
        <div ng-if="rules" class="debug-section">
            <span class="debug-title">RULES FROM SERVER:</span>
          <pre>{{rules | json}}</pre>
        </div>
        <div ng-if="currentRule" class="debug-section">
            <span class="debug-title">CURRENT RULE:</span>
          <pre>{{currentRule | json}}</pre>
        </div>
    </div>
</div>
