# 1. Put in /etc/systemd/system/
# 2. Execute `systemctl enable aprox-server-novols` to install

[Unit]
Description=AProx Server Container (No Volumes Container)
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10
ExecStart=/usr/bin/docker start -a aprox
ExecStop=/usr/bin/docker stop -t 2 aprox

[Install]
WantedBy=multi-user.target
