# 1. Put in /etc/systemd/system/
# 2. Execute `systemctl enable aprox-volumes` to install

[Unit]
Description=AProx Volumes Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10
ExecStart=/usr/bin/docker start -a aprox-volumes
ExecStop=/usr/bin/docker stop -t 2 aprox-volumes

[Install]
WantedBy=multi-user.target
